*{
    margin: 0;
    padding: 0;
   /* background: #337ab7;*/
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #337ab7;
}
#wrapper{
    width: 1520px;
    height: 3438px;
    margin: 0 auto;
    /*background: #337ab7;*/
}
#inner1 a{
    /*text-decoration: none;*/
    color:black;
}
#inner1{
    width: 100%;
    height: 36px;
    background: #f2f2f2;
    line-height: 36px;
    font-size: 18px;
}
#inner1 #inner2{
    width: 1240px;
    margin: 0 auto;
}
#inner1 a:hover{
    color: #337ab7;
}
#inner1 .behend{
    font-size: 16px;
    float: right;
   
}
#inner1 .before{
    font-size: 16px;
    float: left;
}
#header{
   /* height: 65px;*/
    width: 1240px;
    background: white;
   /* padding-left: 140px;*/
    line-height: 65px;
    margin: 0 auto;
}
#header li{
    float: left;
    margin-right: 44px;
}
#header li a{
    color: black;
}
#header li a:hover{
    color:blue;
}
#target{
    width: 1520px;
    height: 427px;
    /*float: left;
    overflow: hidden;
    position: relative;*/
    /*background-image: url(../IMG/2.jpg);*/
   /* background-position:;*/
    background:url(../IMG/2.jpg) no-repeat center 0;
    margin-top: 65px;
    
}
#header img{
    width: 130px;
    height: 22px;
    vertical-align: middle;
}
#header .logo{
    padding-left:  60px;
    padding-right: 200px;
}
#adv {
    width: 1520px;
    height: 320px;
    float: left;
    margin: 40px auto;
    position: relative;
}
#adv img{
   /* float: left;
    padding-right: 25px;*/
    position: absolute;
    display: block;
}
#adv #img1{
    left: 140px;
}
#adv #img2{
    left: 570px;
}
#adv #img3{
    left: 1000px;
}
#section{
    width: 1280px;
    height: 425px;
    /*background: yellowgreen;*/
    float: left;
    margin-left: 125px;
}
#section p{
    width: 52px;
    height: 32px;
    float: left;
    font-size: 26px;
    padding-right: 100px;
    line-height: 32px;
}
#section ul{
    float: left;
    margin-right: 100px;
}
#section .normal{
    float: left;
    font-size: 20px;
    padding-right: 25px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
}
#section .normal .show{
    text-decoration: none;
}
#section .img-box{
    display: none;
}
#section .active{
    display: block;
}
#section .selected{
    color: #337ab7;
}
#section .more{
    padding-left: 640px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    height: 32px;
    line-height: 32px;
}
#section img{
    width: 217px;
    height: 217px;
    margin-left: 45px;
}
#section .img-box h3{
    width: 100%;
    height: 55px;
    font-size: 17px;
    color: rgb(51,51,51);
    text-align: center;
    margin-top: 10px;
    
}
#section .img-box p{
    font-size:16px;
    color: #333;
    width: 295px;
    text-align: center;
}
#section .content{
    width: 305px;
    height: 375px;
    float: left;
    background: white;
    border-right: solid 10px #f2f2f2;
    margin-top: 20px;
}
#section .last{
    padding-right: 0;
    border: none;
}
#section .first{
    margin-left: 15px;
    
}
#hot-product{
    width: 1220px;
    height: 300px;
    overflow: hidden;
    /*background: #337ab7;*/
    font-size: 26px;
    margin: 10px auto;
    position: relative;
}

#hot-product #hot-img-box{
    width: 2440px;
    position: relative;
    left: 0;
    top: 0;
    transition: left 1s linear;
}
#hot-product img{
    float: left;
    margin-top: 40px;
    
}
#hot-product #ul-box{
    width: 68px;
    height: 25px;
    /*background: #ff0036;*/
    position: absolute;
    left: 545px;
    top: 233px;
}
#hot-product .common{
    width: 20px;
    height: 20px;
    border: solid 2px #fff;
    border-radius: 15px;
    background-color: #f2f2f2;
    float: left;
    margin-right: 10px;
}
#hot-product .changed{
    background-color: blue;
}
#hot-product-sale{
    width: 1260px;
    height: 425px;
    /*background: yellowgreen;*/
    /* float: left; */
    margin-left: 138px;
    overflow: hidden;
}
#hot-product-sale p{
    /*width: 52px;
    height: 32px;*/
    float: left;
    font-size: 26px;
    /*padding-right: 100px;*/
}
#hot-product-sale img{
    width: 217px;
    height: 217px;
    margin-left: 45px;
}
#hot-product-sale .content h3{
    width: 100%;
    height: 55px;
    font-size: 17px;
    color: rgb(51,51,51);
    text-align: center;
    margin-top: 10px;
    
}
#hot-product-sale .content p{
    font-size:16px;
    color: #333;
    width: 295px;
    text-align: center;
}
#hot-product-sale .content{
    width: 305px;
    height: 375px;
    float: left;
    background: white;
    border-right: solid 10px #f2f2f2;
   /* margin-top: 50px;*/
}
#hot-product-sale #hot-sale-imgbox{
        width: 1775px;
        height: 425px;
        margin-top: 50px;
}
#hot-product-sale .Full-reduction{
    color: white;
    background: #337ab7;
    width: 40px;
    
}
#G_watch{
    width: 1220px;
    height: 184px;
    margin: 70px auto;
}

#phone{
    width: 100%;
    border-top: 1px solid #dadee2;
    float: left;
    margin-top: 80px;
}
#phone ul{
    width: 1220px;
    margin: 0 auto;
}
#phone li{
    float: left;
    padding-left: 110px;
    padding-right: 160px;
    margin-top: 30px;
}
#phone .select{
    border-right: 1px solid #e3e6e9;
}
#phone p{
    font-size: 14px;
    line-height: 30px;
}
#footer li{
    
}



